language: node_js
node_js:
  - "stable"
cache:
  directories:
    - "node_modules"
matrix:
  include:
    - os: linux
      dist: bionic
      env:
        - DIST_FILE=timechart_v0.0.1_amd64.snap
      addons:
        snaps:
            - name: snapcraft
              channel: edge
              confinement: classic
    - os: windows
      env:
        - DIST_FILE=dist/timechart_win_$TRAVIS_TAG.zip
install:
  - npm install
script:
  - npm run lint
before_deploy:
  - npm run electron:build
deploy:
  provider: releases
  api_key:
    secure: eBWm4QS58to4M5xo+3hqB8bCe5XNwy15tjX99OufVf3A4Dms7gbfHq+0JXNRo3wfO4zZAdG9FBM7l6oUi9ht4eyA3srznKEPDSXSAuR/8tOA9zox9R82+VG6UcD70bCrG0vD0lldqRg+iAX8DM92TH/9GKjP1Gqxr6HIN4TL3pNbXZoB+YzcEPxB10l0F84uGCXTs0kZfm8mFrigpwCS+kc5le0q6LeF2rF6pw/WRKmxCPu4hrVPZjJoEM6no/iUWiEWLMXsR2vcxudjQogggNje9BFLRcA3SzmsVjVlcWConhTJ2FulSakopflk1ks1I7D0UoSfoP5OZuBPRppncB4HigfzsjXxDLKhxeCdttOLsL8xO4QUQZacX6aAV57anX1AC0iL82rRCf3kxBfDLav5NsqtRWfmbO9GadzACd0Ht7oqCWLe5j9wrNgTpFirJEdboyZFnHjk4zbrRUgRmbToXQhRE9iO9mb0UYBqH0uxj2Uic5wWLZX0l/6ARcwYmaWN7TBfTwWpigtOlxcAVawCt23q8FJZ/ylCr9KjQbqiNHYme4uLEiSwBTgjgyeIhrP0olmntrPD35XO/IXkAm7Q3TbMix77aO0wmRX+/sU6BDDZVrKxspqfxe1sHvo4X28sWVBD/3zLXT0xx0/l8rH61yn2ja05S6RJqADiE1o=
  file: $DIST_FILE
  skip_cleanup: true
  on:
    tags: true
