name: Node CI

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: Dump runner context
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
        run: echo "$RUNNER_CONTEXT"
      - name: Windows build tools
        if: runner.os == 'Windows'
        run: npm install --vs2015 --global windows-build-tools
      - name: Download newer npm
        if: runner.os == 'Windows'
        run: npm install npm@next -g
      - name: Download newest node-gyp
        if: runner.os == 'Windows'
        run: npm install node-gyp@latest -g
      - name: Set newest node-gyp
        if: runner.os == 'Windows'
        run: set npm_config_node_gyp=node "C:\npm\prefix\node_modules\npm\node_modules\node-gyp\bin\node-gyp.js"
      - name: npm install
        run: npm ci --prefer-offline --no-audit
      - name: npm lint
        run: npm run lint
      - name: npm build
        run: npm run build
      - name: Release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npm run release
