name: Node CI

on: [push]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Dump runner context
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
        run: echo "$RUNNER_CONTEXT"
      - name: Windows build tools
        if: runner.os == 'Windows'
        run: npm install --vs2015 --global windows-build-tools
      - name: npm install
        run: npm ci --prefer-offline --no-audit
      - name: npm lint
        run: npm lint
      - name: npm build
        run: npm run build
